.container #right {
  padding: 0 0 0 3%;
}
.container .row {
  margin-bottom: 7%;
}
.container #right p {
  text-align: justify;
}
.container #left img {
  max-height: 130px;
  width: auto;
  position: relative;
  float: left;
}
.container #left .rating {
  clear: both;
  float: left;
  margin-top: 4%;
}
#title {
  background-color: wheat;
  margin-bottom: 2%;
  text-align: left;
  font-weight: 200;
  font-size: 1.5rem;
  padding: 0.5%;
}
.row {
  margin-right: 0;
}
